{% extends "base.html" %}
{% load static %}

{% block extra_title %}My Cart{% endblock extra_title %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="logo-font text-center mb-4">My Cart</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row p-4">
        <div class="col">
            {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th class="align-middle" scope="col">
                                    <p>Product Info</p>
                                </th>
                                <th class="d-none d-md-table-cell" scope="col"></th>
                                <th class="align-middle" scope="col">
                                    <p class="text-center">Price</p>
                                </th>
                                <th class="align-middle" scope="col">
                                    <p class="text-center">Qty</p>
                                </th>
                                <th class="d-none d-md-table-cell align-middle" scope="col">
                                    <p class="text-center">Subtotal</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="d-none d-md-table-cell p-3 w-25">
                                        <a href="{% url 'product_detail' item.product.id %}" aria-label="Go to the product detail of {{ item.product.name }}">
                                            {% if item.product.image %}
                                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.description }}">
                                            {% else %}
                                                <img class="w-100" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ item.product.description }}">
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="py-3 align-middle">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <details class="my-0">
                                            <summary><small>Product information</small></summary>
                                            {% if product.style %}
                                                <p class="my-0">Style: {{ item.product.style | title }}</p>
                                            {% endif %}
                                            {% if product.flavour %}
                                                <p class="my-0">Flavour: {{ item.product.flavour }}</p>
                                            {% endif %}
                                            {% if product.date_of_event %}
                                                <p class="text-center mt-2 mb-0">{{ product.date_of_event | date:"D jS \o\f M\. Y \a\t P" }}</p>
                                            {% endif %}
                                            {% if product.duration %}
                                                <p class="text-center">duration: {{ product.duration }} minutes</p>
                                            {% endif %}
                                            <p class="my-0">Description:</p>
                                            <p class="my-0">{{ item.product.description }}</p>
                                        </details>
                                    </td>
                                    <td class="py-3 align-middle">
                                        <p class="my-0 text-center">{{ item.product.price }} €</p>
                                    </td>
                                    <td class="py-3 align-middle">
                                        <form action="{% url 'adjust_cart' item.item_id %}" class="form update-form" method="POST" id="update-form_{{ item.item_id }}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black" data-item_id="{{ item.item_id }}"
                                                            id="decrement-qty_{{ item.item_id }}" aria-label="Decrement the quantity of {{ item.product.name }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control form-control-sm qty_input text-center" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" readonly>
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black" data-item_id="{{ item.item_id }}"
                                                            id="increment-qty_{{ item.item_id }}" aria-label="Increment the quantity of {{ item.product.name }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="d-none d-md-table-cell py-3 align-middle">
                                        <p class="my-0 text-center">{{ item.subtotal }} €</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="pt-5 text-right" colspan="5">
                                    <h6><strong>Order value: {{ order_value | floatformat:2 }} €</strong></h6>
                                    <h6>Delivery costs: {{ delivery_costs | floatformat:2 }} €</h6>
                                    <h4 class="mt-4"><strong>Total: {{ total | floatformat:2 }} €</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="5">
                                    <a href="{% url 'products' %}" class="btn btn-lg" aria-label="Go back to the list of products">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn bg-blue font-weight-bold btn-lg" aria-label="Go to the secure checkout">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5 text-center">You do not have anything in your shopping cart yet.</p>
                <div class="text-center">
                    <a href="{% url 'products' %}" class="btn btn-lg" aria-label="Go back to the list of products">
                        <span class="icon">
                            <i class="fas fa-chevron-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock postload_js %}