{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock extra_title %}

{% block content %}
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div class="cta-container m-0 p-0">
                <div>
                    <h2 class="d-none d-md-block logo-font text-black">
                        Try out our new flavours
                    </h2>
                    <div class="my-5 div-button">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3" aria-label="Go to the list of products">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3 m-0 bg-blue">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h2 class="mb-0 text-center font-weight-bold">About us</h2>
            <hr class="w-50 mb-1">
            <p class="about-text">
                Welcome to Oma K-ron, your premier destination for delectable <strong class="keyword">macarons</strong>, exquisite
                <strong class="keyword">wedding cakes</strong>, and expert baking
                courses in <strong class="keyword">Germany</strong>. At Oma K-ron, we are passionate about the art of baking, and
                we're dedicated to bringing joy to
                every bite.
            </p>
            <h3>Expert of macarons and wedding cakes <i class="fa-solid fa-award" aria-hidden="true"></i></h3>
            <p class="about-text">
                We're renowned for our handcrafted <strong
                    class="keyword">macarons</strong>, meticulously prepared to achieve the perfect balance of
                flavors and textures. Each macaron is a work of art, offering an array of delightful flavors that will transport
                your taste buds to a world of sweetness. From classic favorites to innovative creations, our <strong
                    class="keyword">macarons</strong> are a delightful treat for any occasion.
            </p>
            <p class="about-text">
                Make your special day even more memorable with a wedding cake from Oma K-ron. Our <strong
                    class="keyword">wedding cakes</strong> are
                custom designed to reflect your unique style and personality. We create stunning, delicious masterpieces that will
                leave a lasting impression on your guests and make your day truly exceptional.
            </p>
            <p class="about-text">
                Our commitment to baking goes beyond our kitchen. We offer a range
                of <strong class="keyword">baking courses</strong> for all skill
                levels – from beginners to experts. Learn the art of crafting perfect <strong class="keyword">macarons</strong>
                under the guidance of our experienced instructors. Gain hands-on experience, tips, and tricks to become a master of macaron making.
            </p>
            <h3>Delivery Across Germany <i class="fa-solid fa-truck-fast" aria-hidden="true"></i></h3>
            <p class="about-text">
                No matter where you are in <strong class="keyword">Germany</strong>, we bring our delightful creations to your
                doorstep. Our reliable delivery service
                ensures that you can enjoy our <strong class="keyword">macarons</strong> and <strong class="keyword">wedding
                    cakes</strong> without leaving the comfort of your home. We strive to share our passion for baking with every corner of the country.
            </p>
            <h3>Online Presence and Dortmund Shop <i class="fa-solid fa-store" aria-hidden="true"></i></h3>
            <p class="about-text">
                While we serve customers across <strong class="keyword">Germany</strong> with our online store, we also welcome you
                to visit our charming shop in Dortmund, <strong class="keyword">Germany</strong>. 
                Experience the aroma of freshly baked goods and indulge in a wide selection of <strong class="keyword">macarons</strong> and
                cakes. Our friendly team is always ready to assist you with your choices and answer any questions you may have.
            </p>
            <p class="about-text">
                At Oma K-ron, we take pride in our commitment to quality, creativity, and customer satisfaction. We're not just a
                bakery, we're a celebration of taste and artistry. Join us on this delightful journey of flavors and discover why
                Oma K-ron is a name synonymous with extraordinary baking.
            </p>
            <p class="about-text">Explore our website, order your favorite treats, and discover a world of sweetness brought to you by Oma K-ron.</p>
        </div>
    </div>
{% endblock content %}