{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div class="cta-container m-0 p-0">
                <h1 class="d-none d-md-block logo-font text-black">
                    Try out our new flavours
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}