html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Croissant One', cursive !important;
}

/* The colors */

.text-black {
    color: #000 !important;
}

.text-white {
    color: white !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #82d9ed;
}

.bg-pink {
    background-color: #f6b0cc;
}

.bg-transparent {
    background-color: transparent;
}

/* Style the main Header */
.logo {
    width: 50px;
}

.logo-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.count-cart {
    position: absolute;
    top: 0;
    right: 5%;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: #f6b0cc;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
}

.count-to-9 {
    width: 17px;
    height: 17px;
    line-height: 17px;
}

.count-to-99 {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.count-to-999 {
    width: 23px;
    height: 23px;
    line-height: 23px;
}

.active {
    background-color: #f6b0cc !important;
    color: black !important;
}

.main-nav-link:hover {
    background-color: #f6b0cc !important;
    color: black !important;
    text-decoration: underline !important;
}

.text-underlined {
    text-decoration: underline !important;
    text-underline-offset: 8px;
}

/* Style the main content */
.main-content {
    min-height: calc(100vh - 195px - 468px);
    margin-top: 195px;
}

.main-content > div:first-child {
    padding-top: 15px;
}

.main-content > div:last-child {
    padding-bottom: 30px;
}

.about-text {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.keyword {
    font-weight: 400;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background-color: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background-color: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.form-container {
    padding: 30px;
}

.forms-background {
    background: url(https://oma-k-ron.s3.eu-north-1.amazonaws.com/media/background_forms_overlayed.jpg) no-repeat fixed center/cover;
}

.card {
    height: 450px;
    box-shadow: 5px 5px 15px #000;
    overflow: auto;
}

.img-container {
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
}

.card-img-top {
    max-height: 200px;
    width: auto;
}

.card-body-product {
    overflow: auto;
}

.post-link:hover {
    box-shadow: 5px 5px 30px black;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    box-shadow: 2px 2px 5px black;
    z-index: 10;
}

.btt-link {
    cursor: pointer;
}

.message-container {
    position: fixed;
    width: 70%;
    top: 35%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 99999999;
    box-shadow: 5px 5px 15px #000;
}

.toast-header {
    display: block;
}

.shop-now-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: black;
    color: white;
    min-width: 260px;
}

.cta-container {
    position: relative;
    background: url('/media/oma_k_ron_hero_image_small_screens.jpg') no-repeat fixed;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 200px);
}

.cta-container > div {
    position: absolute;
    width: 90vw;
    bottom: 15vh;
    right: 5vw;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Style the main Footer */
.main-footer {
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 80px;
    box-shadow: 0 -2px 50px black;
}

.g-map {
    width: 80%;
    height: 100px;
}

#mce-success-response {
    width: 100% !important;
    margin: 0 !important;
}

.social-media {
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    color: black;
}

.social-media:hover {
    font-size: 17px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.privacy-policy-content p {
    text-align: justify;
    text-indent: 20px;
}

.copyright {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer-rule {
    border-top: 2px solid black;
    width: 50%;
    margin: auto;
}

#mc_embed_signup {
    clear: left;
    width: 100%;
}

#mc_embed_signup .button {
    background-color: #82d9ed !important;
    color: #000 !important;
    font-weight: bold !important;
}

/* -------------------------------- Media Queries */

/* Styles for screens larger than 289px */
@media (min-width: 290px) {
    .main-footer {
        padding-bottom: 56px;
        margin-bottom: 56px;
    }
}

/* Styles for screens larger than 419px */
@media (min-width: 420px) {
    .main-content {
        min-height: calc(100vh - 171px - 320px);
        margin-top: 171px;
    }

    .main-content > div:first-child {
        padding-top: 40px;
    }
}

/* Styles for screens larger than 565px */
@media (min-width: 566px) {
    .main-footer {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
}

/* Styles for screens larger than 767px */
@media (min-width: 768px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .main-content > div:first-child {
        padding-top: 15px;
    }

    .message-container {
        width: 350px;
        top: 5vh;
        right: 20vw;
        transform: translate(0, 0);
    }

    .cta-container {
        background: url('/media/oma_k_ron_hero_image.jpg') no-repeat fixed;
        background-position: center center;
        background-size: cover;
    }

    .cta-container > div {
        width: 40vw;
        top: 5vh;
        right: 5vw;
    }

    .count-cart {
        font-size: 13px;
        transform: translate(25%, -40%);
    }

    .count-to-9 {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }

    .count-to-99 {
        width: 27px;
        height: 27px;
        line-height: 27px;
    }

    .count-to-999 {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .main-content {
        min-height: calc(100vh - 206px - 300px);
        margin-top: 206px;
    }

    .logo {
        width: 80px;
    }

    .shop-now-button {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
    }

    .form-container {
        padding: 30px;
        width: 50%;
        margin: auto;
    }

    .message-container {
        top: 90px;
        right: 15px;
    }

    .footer-rule {
        display: block;
        border-top: none;
        border-left: 2px solid black;
        width: 0;
        height: 150px;
        margin: 15px auto;
    }
}

/* Styles for screens larger than 991px */
@media (min-width: 992px) {
    .main-content {
        min-height: calc(100vh - 190px - 320px);
        margin-top: 190px;
    }

    .count-cart {
        transform: translate(25%, -50%);
        background-color: #82d9ed;
    }
}

/* Styles for screens larger than 1199px */
@media (min-width: 1200px) {
    .main-content {
            min-height: calc(100vh - 190px - 300px);
            margin-top: 190px;
    }
    
    .container {
        max-width: 80%;
    }
}