html {
    height: 100%;
}

body {
    background: url('/media/oma_k_ron_hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 160px);
}

.header-container {
    padding-top: 220px;
}

/* .header-rule {
    border-top: 2px solid #66c7e8;
    margin: 0;
} */

.logo {
    width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Croissant One', cursive;
}

.logo-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.shop-now-button {
    position: fixed;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%);
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background-color: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background-color: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: white !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #82d9ed;
}

.bg-pink {
    background-color: #f6b0cc;
}

.bg-transparent {
    background-color: transparent;
}

/* .border-bottom {
    border-bottom: 2px solid #66c7e8 !important;
} */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}

.card {
    box-shadow: 5px 5px 15px #000;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 80px;
    z-index: 99999999;
    box-shadow: 5px 5px 15px #000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .logo {
        width: 80px;
    }

    .shop-now-button {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
    }

    .header-container {
        padding-top: 200px;
    }

    .message-container {
        top: 90px;
        right: 15px;
    }
}