<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Style</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our macarons
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?product_type=single" class="dropdown-item">The Singles</a>
                <a href="{% url 'products' %}?product_type=box" class="dropdown-item">The Boxes</a>
                <a href="{% url 'products' %}?product_type=tower" class="dropdown-item">The Celebrations</a>
                <a href="" class="dropdown-item">All Macarons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our events
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Visit our factory</a>
                <a href="" class="dropdown-item">Learn how to bake</a>
                <a href="" class="dropdown-item">All Events</a>
            </div>
        </li>
    </ul>
</div>