<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=style&direction=asc" class="dropdown-item ">By Style</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="macaron-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our macarons
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="macaron-link">
                <a href="{% url 'products' %}?category=single" class="dropdown-item">The Singles</a>
                <a href="{% url 'products' %}?category=box" class="dropdown-item">The Boxes</a>
                <a href="{% url 'products' %}?category=tower" class="dropdown-item">The Celebrations</a>
                <a href="{% url 'products' %}?product_type=macaron" class="dropdown-item">All Macarons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="event-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our events
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="event-link">
                <a href="{% url 'products' %}?category=visit" class="dropdown-item">Visit our factory</a>
                <a href="{% url 'products' %}?category=course" class="dropdown-item">Learn how to bake</a>
                <a href="{% url 'products' %}?product_type=event" class="dropdown-item">All Events</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">
                Contact us
            </a>
        </li>
    </ul>
</div>