{% extends "base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Set Password" %}{% endblock extra_title %}

{% block content %}
<div class="form-container">
    <h2 class="text-center">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-center">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
