{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock meta %}

        {% block extra_meta %}
        {% endblock extra_meta %}

        {% block core_css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        {% endblock core_css %}

        {% block extra_css %}
        {% endblock extra_css %}

        {% block core_js %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/d78eb563ab.js" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        {% endblock core_js %}

        {% block extra_js %}
        {% endblock extra_js %}

        <title>Oma K-ron {% block extra_title %}{% endblock extra_title %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top px-2">
            <div id="topnav" class="row d-none d-lg-flex bg-pink">
                <div class="col-lg-4 my-auto py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link">
                        <h2 class="d-inline-block logo-name">Oma </h2>
                        <img class="logo" src="{% static 'img/oma_k_ron_logo.png' %}" alt="Oma K-ron logo">
                        <h2 class="d-inline-block logo-name"> K-ron</h2>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                <a href="{% url 'create_post' %}" class="dropdown-item">Blog Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-black {% if total %}font-weight-bold{% else %}font-weight-normal{% endif %} nav-link"
                                href="{% url 'cart' %}">
                                <div class="text-center">
                                    <div class="position-relative">
                                        <p class="count-cart {% if product_count %}d-block{% else %}d-none{% endif %} count-to-{% if product_count > 99 %}999{% elif product_count > 9 %}99{% else %}9{% endif %}">{{ product_count }}</p>
                                        <i class="fa-solid fa-basket-shopping"></i>
                                    </div>
                                    <p class="my-0">
                                        {{ order_value|floatformat:2 }} €
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-auto py-1 text-center d-lg-none bg-pink">
                    <a href="{% url 'home' %}" class="nav-link">
                        <h2 class="d-inline-block logo-name">Oma </h2>
                        <img class="logo" src="{% static 'img/oma_k_ron_logo.png' %}" alt="Oma K-ron logo">
                        <h2 class="d-inline-block logo-name"> K-ron</h2>
                    </a>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light w-100 bg-blue p-0">
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
            <div id="marketing-banner" class="row text-center">
                <div class="col bg-black text-white">
                    <a href="#opening-hours" class="logo-font my-1 text-white">
                        Free degustation at our store every Wednesday !
                    </a>
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}

            </div>
        {% endif %}

        <main class="container-fluid main-content p-0">
            {% block content %}
            {% endblock content %}
        </main>

        <footer class="main-footer bg-pink">
            <div class="container-fluid p-0">
                <div class="row p-1 pt-1">
                    <div class="col-md-5 p-0 d-flex align-items-center justify-content-center">
                        <div class="row pt-2">
                            <div class="col-12 text-center">
                                <h4 id="opening-hours"><strong>Opening Hours</strong></h4>
                                <p class="m-0 p-0"><strong>Mon - Fr:</strong> from 10am to 6pm</p>
                                <p class="m-0 p-0"><strong>Sat:</strong> from 10am to 4pm</p>
                            </div>
                            <div class="col-12 text-center my-4">
                                <iframe  class="g-map d-block mx-auto card"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39726.496178947964!2d7.4442887647529465!3d51.51494031015293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b917a7f9df8de5%3A0xba0e987f3c5e3002!2sOma%20K-ron!5e0!3m2!1sen!2sde!4v1697813663844!5m2!1sen!2sde"
                                    style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-rule"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="row pt-2">
                            <div class="col newsletter">
                                <div id="mc_embed_shell">
                                    <div id="mc_embed_signup">
                                        <form
                                            action="https://herokuapp.us21.list-manage.com/subscribe/post?u=263ebb679632ad35001a3cfe2&amp;id=ffb6722349&amp;f_id=00eee7e6f0"
                                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate m-0"
                                            target="_blank">
                                            <div id="mc_embed_signup_scroll">
                                                <h4 class="text-center font-weight-bold">Subscribe to our Newsletter</h4>
                                                <div class="mc-field-group pb-0"><label for="mce-EMAIL">Email Address <span
                                                            class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                                                        id="mce-EMAIL" required="" value=""></div>
                                                <div id="mce-responses" class="clear foot">
                                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                                </div>
                                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                                    /* real people should not fill this in and expect good things - do not remove this or risk form bot
                                                    signups */
                                                    <input type="text" name="b_263ebb679632ad35001a3cfe2_ffb6722349" tabindex="-1" value="">
                                                </div>
                                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                                <div class="optionalParent">
                                                    <div class="clear foot text-right">
                                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn text-uppercase"
                                                            value="Subscribe">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-blue p-0 m-0 gap-0">
                    <div class="col-12 col-md-4 offset-md-2">
                        <div class="text-center">
                            <a class="social-media p-1" aria-label="Open Facebook in a new tab"
                                href="https://www.facebook.com/profile.php?id=61552315335813" target="_blank"><i class="fa-brands fa-facebook-f"></i> Follow us on Facebook</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="text-center">
                            <a class="social-media" aria-label="Go to privacy policy"
                                href="{% url 'privacy_policy' %}"><i class="fa-regular fa-file-lines"></i> Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright bg-black">
                <p class="text-white text-center m-0 py-1">Created with passion by
                    <a class="text-white" aria-label="Go to the GitHub page of the creator of this website"
                        href="https://github.com/yannickferenczi" target="_blank">
                        Yannick Ferenczi <i class="fa-brands fa-github text-white"></i>
                    </a> | Copyright {% now "Y" %}, All rights reserved
                </p>
            </div>
        </footer>

        {% block postload_js %}
        <script type="text/javascript">
            $(".toast").toast("show");
        </script>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script
            type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        {% endblock postload_js %}
    </body>
</html>