{% extends "base.html" %}
{% load static %}

{% block extra_title %}Products{% endblock extra_title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                            </option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
                            </option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="style_asc" {% if current_sorting == 'style_asc' %}selected{% endif %}>Style (A-Z)
                            </option>
                            <option value="style_desc" {% if current_sorting == 'style_desc' %}selected{% endif %}>Style
                                (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row gap-1">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="card mb-4">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.description }}" class="card-img-top img-fluid my-auto">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.description }}" class="card-img-top img-fluid my-auto">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                {% if request.user.is_superuser %}
                                    <div class="text-center">
                                        <small class="ml-3">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                    </div>
                                {% endif %}
                                <h4 class="mb-0 text-center font-weight-bold">{{ product.name }}</h4>
                                <p class="text-center">{{ product.style | title }} style</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left">flavour: {{ product.flavour }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-right font-weight-bold">{{ product.price }} €</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm bg-blue border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: "smooth",
            });
        })
    </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this)
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();
            if(selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort")
                currentUrl.searchParams.delete("direction")
                window.location.replace(currentUrl);
            }
        }
        )
    </script>
{% endblock postload_js %}