{% extends "base.html" %}
{% load static %}

{% block extra_title %}Product Management{% endblock extra_title %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="logo-font text-center mb-4">Product Management</h2>
        <H5 class="text-muted text-center">Delete Product</H5>
        <hr class="w-50 mb-1">
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <form action="{% url 'delete_product' product.id %}" class="form mb-2 px-3" method="POST">
            {% csrf_token %}
            Do you really want to delete this item?
            <div class="text-right">
                <a href="{% url 'products' %}" class="btn btn-outline-black">Cancel</a>
                <button class="btn btn-danger font-weight-bold" type="submit">Delete Product</button>
            </div>
        </form>
    </div>
</div>
<div class="row p-4">
    
</div>
{% endblock content %}
